{$DOMAIN1} {
  reverse_proxy remix:3030 {
    header_down Strict-Transport-Security max-age=31536000;
  }
}

{$DOMAIN2} {
  reverse_proxy directus:8055 {
    header_down Strict-Transport-Security max-age=31536000;
  }
}

{$DOMAIN3} {
  root *  /www/html
	file_server
}

www.{$DOMAIN3} {
  redir https://{$DOMAIN3}
}