:8080 {
  reverse_proxy remix:3030  {
    header_down Strict-Transport-Security max-age=31536000;
   }
}

:8880 {
  reverse_proxy directus:8055  {
    header_down Strict-Transport-Security max-age=31536000;
   }
}